@import url('https://fonts.googleapis.com/css2?family=WindSong&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/Untitled\ design.png);
    background-size: cover;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}

.container{
    height: 130vh;
    display: flex;
    background-color: rgba(18, 19, 20, 0.155);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
    
}

.card{
    margin-left: 200px;
    height: 482px;
    width: 336px;
  
     perspective: 1000px;
    transform-style: preserve-3d;
    transition: 2s ease-in-out;
    text-align: center;
   cursor: pointer;
}


.inside,.outside{
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 34px;
}

.outside{
    position: absolute;
    backface-visibility: hidden;
    background-color: #ffb8de;
       
}

.outside h1{
    font-family: 'WindSong', cursive;
    color: #840032;
    font-size: 67px;
    margin-top: 15px;
}

.outside img{
    height: 189px;
    margin-top: 31px;
    border-radius: 40px;
}

.inside{
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: #fdfcdc;
}

.inside img{
    margin-top: 20px;
}

.inside p{
    margin-top: 10px;
}

.card:hover{
    transform: rotateY(180deg);
}

.leftContent{
    transform-style: preserve-3d;
    perspective: 1000px;
    width: 30vw;
    position: relative;
    

}

.flex{
    display: flex;
}

.imageBox{
    margin-right: 127px;
    height: 160px;
    width: 480px;
    display: flex;
    margin-top: 20px;
    transform: rotateY(23deg) rotateX(346deg);
    position: absolute;
    right: 0px;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 20px;
    align-items: center;


}

.imageBox img{
    height: 150px;
    border-radius: 30px;
}

.Box1{
    background-color: #fdffb6;
    top: 26vh 
}

.Box2{
    background-color: #9bf6ff;
    top: 46vh;
    z-index: 2;
    right: 15px;
}

.Box3{
    background-color: #ffecd1;
    top: 64vh;
    z-index: 3;
    right: 27px;
}

